@media screen and (max-width: 670px) {
	.hide-xs {
		display: none;
	}
	#detailPage {
		.detail-product {
			.detail-main{
				.detail-product-right {
					padding-left: 15px !important;
					.guarantee-container {
						select{
							width: 100%;
						}
					}
				}
			}
			.review {
				.slider-product {
					.carousel-container {
						padding-right: 0;
						margin-left: 0 !important;
    					margin-right: 0 !important;
					}
					.item {
						img {
							height: auto
						}
						.name-news {
							height: 110px;
    						overflow: hidden;
						}
					}
				}
			}
			.relative-product {
				.products {
					padding-left: 0;
					.slider-product {
						#media-relative {
							.item  {
								.sub-item {
									margin-bottom: 50px;
								}
							}
						}
					}
				}
			}
			.feature-detail {
				.feature-important {
					.feature-item {
						#carousel-feature-detail {
							.carousel-inner {
								height: auto !important;
							}
						}
					}
				}
			}
		}
		.advertise-image {
			img {
				height: auto;
			}
		}
		.co-the-ban-quan-tam {
			.fix-row {
				.fix-col-2 {
					a {
						margin-right: 10px !important;
					}
				}
			}
		}
	}
}