.menuu li.active a {
    background: unset !important;
}

.fotorama__nav-wrap {
    display: unset !important;
}

.menuu {
    background-color: rgb(52, 152, 219);
}

.menuu * {
    box-shadow: none !important;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    .menuu li {
        border-bottom: 1px solid #ddd;
        width: 250px;
        transform: translateX(-50%);
        margin-left: 50%;
        text-align: center;
        padding: 5px 15px;
    }

    .menuu {
        position: relative;
    }

    .searchh button {
        position: absolute;
        transform: translate(-32px, 3px);
        background: transparent;
        border: none;

    }

    .searchh input {
        border-radius: 5px;
        border: none !important;
        padding: 3px 10px;
        width: 120px;
    }

    .searchh {

        display: inline-block;
        position: absolute;
        bottom: 10px;

        right: 70px;
        z-index: 10000;

    }

    .menuu {
        padding-bottom: 40px;
        padding-top: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .searchh {
        display: inline-block;
        position: absolute;
        top: unset !important;
        z-index: 10000;
        left: 0;
        bottom: -49px !important;
    }

    .menuu {
        position: relative;
    }

    .searchh button {
        transform: translateX(-32px);
        background: transparent;
        border: none;

    }

    .searchh input {
        width: 150px;
        border-radius: 5px;
        border: none !important;
        padding: 3px 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 5000px) {

    .menuu {
        background-color: rgb(52, 152, 219);
        margin-bottom: 10px;
        height: 120px;
    }

    .menuu li {
        position: relative;
        min-width: 55px;
        /*max-width: 200px;*/
        transform: translateY(15px);
    }

    .menuu li span {
        /*position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);*/
    }

    .navbar-header img {
        transform: translateY(18px);
    }

    .menuu li:hover img {
        transform: rotate(360deg) !important;
    }

    .menuu li img {
        transform: rotate(0deg);
        transition: all .5s ease
    }


    .menuu {
        position: relative;
    }

    .searchh {

        display: inline-block;
        z-index: 10000;
    }

    .menuu {
        position: relative;
    }

    .searchh button {
        transform: translateX(-32px);
        background: transparent;
        border: none;

    }

    .searchh input {
        border-radius: 5px;
        border: none !important;
        padding: 3px 10px;
    }

}

@media screen and (min-width: 1px) and (max-width: 991px) {
    .div-anh img {
        padding-left: 4px !important;
    }

}

.gia-sanpham {
    height: 34px;
}

.gia-va-xemthem {
    /*     border: 1px solid #ddd; */
    overflow: auto;
    max-width: 240px;
    margin: 0 auto;
}

.giaphukien {
    color: #c0392b;
    font-size: 19px;
    font-weight: 500;
    float: left;
    width: 48%;
    text-align: left;
    padding-left: 25px;
}

.xemchitiet-phukien {
    margin-right: 15px;
    padding: 5px 12px;
    color: white;
    float: right;
    background-color: rgb(46, 204, 113);
    border-radius: 5px;
}

.tieude-sanpham {
    font-weight: bold !important;
    margin-top: 5px;
}

#menu-menu-chinh li a img {
    max-width: 50px;
    height: auto;
    display: block;
    margin: auto;
}

.mottin img {
    display: block;
    width: 100%;
    height: auto;
}

.section-anhquangcao {
    margin: 20px 0;
}

.sanpham-big {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 450px) {
    .tieude-section:after {

        right: -9px;

    }

    .tieude-section {

        width: 99% !important;

    }
}

@media screen and (min-width: 451px) and (max-width: 699px) {
    .tieude-section:after {

        right: -9px;

    }

    .tieude-section {

        width: 99% !important;

    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .tieude-section:after {

        right: -6px;

    }

    .tieude-section {

        width: 99% !important;

    }
}

@media screen and (min-width: 1001px) and (max-width: 1199px) {
    .tieude-section:after {

        right: -8px;

    }

    .tieude-section {

        width: 99% !important;

    }
}

@media screen and (min-width: 1200px) and (max-width: 3000px) {
    .tieude-section:after {

        right: -9px;

    }

    .tieude-section {

        width: 99% !important;

    }

    .sanpham-big {
        width: 40% !important;
        max-width: unset !important;;
    }

    .sanpham-big {
        display: unset !important;
    }
}

.tieude-section:after {
    content: "";
    height: 43px;
    border: 1px solid #ddd;
    border-left: none;
    position: absolute;

    top: -1px;
    width: 50px;
    pointer-events: none;
}

.tieude-section {
    position: relative;
    border-right-color: transparent !important;
}

.anhsanpham img {
    display: block;

    margin: 0 auto;
    width: auto;

}

.anhsanphambig img {
    width: 100% !important;
    height: auto;

}

.anhsanpham, .anhsanphambig {

    margin: 0 auto !important;
    text-align: center;

}











