@media (min-width: 320px) and (max-width: 735px) and (orientation : portrait) {
    .motsanpham {
        width: 50%;
        float: left!important;
        .two-button {
            .col-md-6 {
                width: 100%;
                .btn {
                    float: none;
                    margin-bottom: 10px;
                }
            }
        }
        .tragop {
            font-size: 12px;
        }
    }
}
@media (min-width: 320px) and (max-width: 1023px) and (orientation : portrait) {
    .motsanpham {
        .tragop {
            font-size: 18px;
        }
    }
}