$color_blue: #3498db;
.galaxy-product {
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_site {
    float: left;
}

.galaxy-product .border-product {
    border: 1px solid #bdc3c7;
}

.galaxy-product .product {
    margin-bottom: 15px;
    margin-top: 15px;
}

.galaxy-product .quangcao {
    height: 100%;
    min-height: 270px;
    border: 1px solid #bdc3c7;
}

.galaxy-product .product-didong {
    margin: 0 auto;
    margin-top: 20px;
}

.galaxy-product .product-price {
    color: #e74c3c;
    text-align: center;
}

#no_product_show {
    margin-top: 15px;
}

.galaxy-product .sale-product {
    text-align: center;
}

.galaxy-product .sale-product h5 {
    color: #e74c3c;
}

.galaxy-product .sale-product .text-sale {
    color: black;
}

.galaxy-product .name-product h5 {
    font-weight: bold;
    height: 42px;
    line-height: 20px;
    overflow: hidden;
}

.container_cat {
    .advertisement_cat {
        height: auto !important;
    }
}

.advertisement_cat_row {
    .buy_now_product {
        .two-button {
            .col-md-6 {
                // padding: 0;
            }
        }
    }
}

#menu-menu-chinh {
    & > li {
        padding-bottom: 15px;
    }
    li {
        z-index: 44;
        ul {
            z-index: 55;
            padding-bottom: 15px;
            a {
                color: black !important;
                font-size: 13px;
                color: #6b6b6b;
                font-weight: normal;
                white-space: nowrap;
                padding: 8px 20px !important;
                display: block;
            }
            li {
                text-align: left;
                margin-right: 0;
                &:first-child {
                    a {
                        color: red;
                    }
                    margin-top: -20px;
                }
            }
        }
    }
}

.interested_product_detail {
    .img {
        float: left;
        margin-right: 15px;
    }
    .text {
        float: left;
        padding: 15px;
        font-size: 13px;
        a {
            margin-right: 50px;
        }
    }
}

.container_cat {
    .menu_cat {
        border: 1px solid #bdc3c7;
        margin-left: -15px;
        margin-right: -15px;
        height: 42px;
        clear: left;
        font-size: 14px;
        .icon_menu {
            float: left;
            clear: left;
            width: 100%;
            background-repeat: no-repeat;
            width: 300px;
            h3 {
                margin: 0;
                height: 42px;
                line-height: 42px;
                font-size: 20px;
                color: white;
                margin-left: 15px;
                text-transform: uppercase;
            }
        }
        .list_item {
            margin-left: 20px;
            margin-left: 15px;
            ul {
                float: left;
                height: 100%;
                display: block;
                padding-top: 10px;
                padding-left: 0;
                li {
                    list-style-type: none;
                    float: left;
                    margin-left: 15px;
                    a {
                        color: #da8865;
                    }
                }
            }
        }
    }
    .list_product {
        clear: left;
    }
}

.info_hover {
    background: rgba(0, 0, 0, .8);
    display: none;
    padding: 15px;
    overflow: hidden;
}

#item_product_cat {
    .item_product {
        position: relative;
        padding-bottom: 15px;
        .info_hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: white;
        }
        .img_item {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.tieude-section:after {
    display: none;
}

.paginate {
    clear: left;
    float: right;
    margin-top: 30px;
    .page-numbers {
        background-color: #6FB7E9;
        border-radius: 3px;
        padding: 12px;
        color: #fff;
        cursor: pointer;
    }
}

.list_option_product {
    float: left;
    width: 100%;
    background-color: #ecf0f1;
    margin-bottom: 5px;
    font-family: myriad_pro_regular;
    position: relative;
    h3 {
        float: left;
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
        padding: 13px;
    }
    ul {
        float: left;
        margin-bottom: 0;
        padding-left: 0;
        position: absolute;
        display: inline-table;
        left: 50%;
        opacity: 0;
        li {
            list-style-type: none;
            float: left;
            margin-left: 15px;
            position: relative;
            padding: 10px;
            a {
                color: #d35400;
            }
            ul {
                position: absolute;
                top: 42px;
                left: 0;
                width: 200px;
                display: none;
                z-index: 46;
                border: 1px solid #ccc;
                background-color: white;
                padding: 0;
                li {
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
        }
    }
}

#widget_sp_image-4 {
    clear: left;
}

.tabled_button {
    margin-top: 30px;
    float: left;
    display: none;
    span {
        border: 1px solid #eee;
        padding: 10px 15px;
        border-radius: 5px;
        color: #ccc;
        cursor: pointer;
    }
}

.section-anhquangcao {
    clear: left;
}

.product_item {
    width: 100%;
}

.list_product_samsung {
    padding: 0 !important;
}

.set_repons_menu {
    background-color: #3498db;
    z-index: 23;
    position: relative;
    width: 100%;
    border: 1px solid red;
    top: 24px;
    ul {
        display: none;
        padding-bottom: 15px;
        width: 100%;
        li {
            clear: left;
            text-align: center;
            width: 100%;
            margin: auto;
        }
    }
    a {
        img {
            display: none !important;
        }
    }
}

.main-slide-wrapper img {
    height: auto;
}

.product_highlight {
    .noidung-section {
        margin-bottom: 15px;
    }
}

.menuu {
    .search_phone {
        position: relative;
        float: right;
        margin-top: 20px;
    }
}

#footerSection {
    .textwidget {
        iframe {
            width: 100%;
            height: auto;
        }
    }
}

#homepage .div-anh {
    margin-top: 0;
}

.tieude-section {
    width: 100% !important;
    border-right-color: #ddd !important;
}

.cover_img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100% !important;
    height: auto;
}

#media-relative {
    padding: 0 30px;
}

#pa_chedobaohanh {
    max-width: 100%;
}

.list_image_product_detail {
    padding: 0 15px;
}


/* 
  responsive mobile
*/

.video-container iframe {
    height: 300px;
}

#detailPage .detail-product .image-product .image-second .carousel-control.left {
    top: 33%;
}

#detailPage .container .detail-product .review .slider-product {
    .right {
        right: 5px !important;
        z-index: 5;
    }
    .left {
        left: 5px !important;
        z-index: 5;
    }
    .right,
    .left {
        i {
            margin-top: -20px;
            z-index: 5;
        }
    }
    .slider_review_detail {
        .carousel-inner {
            padding: 0 10px;
        }
    }
}

#detailPage {
    .description-content {
        img {
            max-width: 100%;
        }
    }
}

.slider_product_involve {
    .products {
        .slider-product {
            float: left;
            width: 100%;
            .item-arrow {
                // top: 50%;
                margin-top: -20px;
            }
            .product_involve {
                margin-bottom: 15px;
            }
        }
    }
}

#menu-menu-chinh {
    li {
        a {
            span {
                position: relative;
                z-index: 10;
            }
        }
    }
}

.button_product_home {
    padding: 0;
}

.button_product_home {
    button[type=submit] {
        margin-top: -2px;
    }
}

@media(max-width: 450px) {
    #media-relative {
        padding: 0;
    }
    .slider_review_detail {
        padding: 0;
    }
    body .menuu {
        height: 165px;
        .container .search_phone {
            top: 0;
            right: 0;
        }
        .menu_site {
            top: 47px;
        }
    }
}

@media (min-width:375px) and (max-width:768px) {
    .galaxy-product .product-didong {
        margin-left: 286px;
    }
    .container_cat {
        width: 95%;
    }
}

@media(min-width:992px) {
    .container_cat {
        .item_product {
            width: 20%;
        }
        .item_product_qq {
            width: 40%;
        }
    }
}

@media(max-width: 768px) {
    .menu_site {
        background-color: $color_blue;
        z-index: 43;
        position: relative;
        top: 30px;
    }
    #detailPage {
        .slider-product {
            .left,
            .right {
                display: none;
            }
        }
    }
    #homepage {
        margin-top: 15px;
    }
    .menuu {
        .container {
            .search_phone {
                top: -67px;
                transform: none;
                right: 60px;
                .hotline {
                    background-color: $color_blue;
                }
                .searchh {
                    right: 0;
                    width: 200px;
                    input {
                        width: 200px;
                    }
                }
                button {
                    transform: none;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
    #footerSection {
        .footet-col {
            text-align: center;
            margin: auto;
            max-width: 100%;
        }
    }
    #muangayPage {
        .woocommerce-breadcrumb {
            padding-left: 10px;
        }
        .muangay-info {
            .custom-nav-bar {
                padding-left: 10px;
            }
            .padding-section {
                .tab-content {
                    padding: 15px;
                }
            }
        }
    }
    .container_cat {
        margin-top: 50px;
    }
    #menu-menu-chinh {
        li {
            ul {
                padding-bottom:0;
                margin-bottom:0;
                margin-top: 10px;
                li {
                    &:first-child {
                        border-top: 1px solid #fff;
                        margin-top:0;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    margin-right: 0;
                    text-align: center;
                    a {
                        color: #fff !important;
                    }
                }
            }
        }
    }
}
@media(max-width: 375px) {
    .container_cat {
        margin-top: 80px;
    }
}

@media(max-width:1200px) {
    .container_cat .item_product_qq {
        padding: 12.4px 15px;
    }
    .button_product_home {
        padding: 0 27px;
    }
}

@media(max-width:992px) {
    .item_product_qq_img {
        clear: left;
    }
    .menuu .search_phone {
        // top: 75px;
        .searchh {
            bottom: -38px !important;
        }
    }
    .button_product_home {
        padding: 0 10px;
    }
    .menu_wrapper {
        .list_option_product {
            h3.title {
                opacity: 0;
            }
        }
    }
    #homepage {
        .slide {
            margin-bottom: 5px !important;
        }
    }
}

.woocommerce-breadcrumb a {
    color: $color_blue;
}

@media(min-width: 1200px) {
    .button_product_home {
        padding-left: 6px;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    #item_product_cat {
        .item_product {
            .two-button {
                .pull-left {
                    padding-left: 1px !important;
                }
                .pull-right {
                    padding-right: 1px !important;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    .set_repons_menu {
        top: 33px;
    }
}

.main-slide-wrapper .slide {
    margin-bottom: 0 !important;
}

#rev-slider-widget-2 {
    position: relative;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #3498db;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-image: none;
}
