#detailPage {
    .title-common {
        border-bottom: 1px solid #eee;
        padding: 5px 5px 5px 10px;
        color: #e67e22;
        text-transform: uppercase;
    }

    .item-arrow {
        text-align: center;
        top: 50%;
        margin-top: -11.5;

        .fa {
            font-size: 40px;
            color: #e67e22;
        }
    }

    .woocommerce-breadcrumb {
        a {
            color: #428abe;
        }
    }

    .detail-product {
        .detail-product-right {
            padding-left: 40px;

            .btn-detail-contain {
                margin-bottom: 20px;

                .btn-muangay,
                .btn-tragop {
                    width: 100%;
                    height: 50px;
                    line-height: 20px;
                    font-size: 20px;
                    border-radius: unset;

                    .fa {
                        font-size: 32px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

                .btn-muangay {
                    padding: 5px;
                }
            }

            .price-main {
                color: #c0392b;
                font-size: 29px;
            }

            .promotion-container {
                margin-bottom: 15px;

                .promotion {
                    border: 1px solid #e7e7e7;
                    border-radius: 5px;
                    box-shadow: 0px 2px 6px #888888;

                    .promotion-title {
                        padding: 10px;
                        margin-bottom: 5px;
                        border-bottom: 1px solid #e7e7e7;

                        .fa {
                            color: #e74c3c;
                            font-size: 20px;
                        }
                    }

                    .promotion-content {
                        margin-left: 20px;

                        .fa {
                            color: #e74c3c;
                        }

                        a {
                            color: #699ec8;
                        }
                    }
                }
            }

            .promotion-other {
                margin-top: 15px;

                a {
                    color: #699ec8;
                }
            }

            .choose-color {
                #select-color {
                    .li-select-color {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        float: left;
                        list-style: none;
                        margin-right: 10px;
                        cursor: pointer;
                    }

                    .active {
                        border: 2px solid #f00;
                    }
                }

                .price_other {
                    border: 2px solid #ddd;
                    width: 80px !important;
                    border-radius: 5% !important;
                    text-align: center;

                    &.active {
                        border: 2px solid red;
                        border-radius: 5% !important;
                        text-align: center;
                    }
                }
            }
        }

        .detail-main {
            margin-bottom: 30px;

            .image-main {
                padding: 5px;
                border: 1px solid #eee;
                border-radius: 5px;
                margin-bottom: 20px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .name-product-container {
                margin-bottom: 10px;

                .name-product {
                    border-top: 1px solid #bdc3c7;
                    border-bottom: 2px solid #bdc3c7;

                    h4 {
                        font-size: 32px;
                    }
                }
            }
        }

        .review {
            border: 1px solid #eee;
            margin-bottom: 20px;

            .slider-product {
                padding: 10px;
                text-align: center;

                .item-arrow {
                    text-align: center;
                    position: absolute;

                    &.left {
                        left: 100px;
                    }

                    &.right {
                        right: 100px;
                    }
                }

                .item {
                    margin-bottom: 10px;

                    p {
                        margin: 15px 0px 10px;
                    }

                    .name-product-ralative {
                        color: #262626;
                        height: 40px;
                        max-height: 40px;
                        overflow: hidden;
                    }

                    .price-product-ralative {
                        color: #c0392b;
                        font-size: 18px;
                    }

                    img {
                        width: 100%;
                        max-height: 200px;
                    }
                }

                // .right {
                //     right: 5px !important;
                // }
                .carousel-container {
                    margin-right: 30px;
                    padding-bottom: 20px;
                    width: 100%;
                }
            }
        }

        .relative-product {
            border: 1px solid #eee;
            padding-bottom: 20px;
            margin-bottom: 20px;

            .slider-product {
                padding: 10px;
                text-align: center;

                .item-arrow {
                    // height: 270px;
                    // line-height: 270px;
                    text-align: center;
                    position: absolute;

                    &.left {
                        left: 100px;
                    }

                    &.right {
                        right: 100px;
                    }

                    .left,
                    .right {
                        top: 50%;
                    }
                }

                .item {
                    margin-bottom: 10px;

                    .name-news {
                        margin: 15px 0px 10px;
                        height: 44px;
                        overflow: hidden;
                    }

                    .name-product-ralative {
                        color: #262626;
                        max-height: 40px;
                        overflow: hidden;
                        height: 40px;
                    }

                    .price-product-ralative {
                        color: #c0392b;
                        font-size: 18px;
                    }

                    img {
                        width: 100%;
                    }
                }

                .carousel-inner {
                    text-align: center;
                }
            }
        }

        .feature-detail {
            border: 1px solid #eee;
            margin-bottom: 20px;

            .feature-important {
                border-right: 1px solid #eee;
                padding-left: 0px;
                padding-right: 0px;

                .feature-item {
                    padding: 30px;

                    #carousel-feature-detail {
                        .carousel-inner {
                            .item {
                                img {
                                    max-height: 500px;
                                }
                            }
                        }
                    }

                    .item-arrow {
                        // line-height: calc(70vh);
                        text-align: center;
                        position: absolute;

                        &.left {
                            left: 10px;
                        }

                        &.right {
                            right: 10px;
                        }

                        .fa {
                            font-size: 20px;
                        }
                    }
                }
            }

            .feature-description {
                padding-left: 0px;
                padding-right: 0px;

                .feature-text {
                    border-bottom: 1px solid #eee;
                    padding: 5px;
                }

                .feature-item {
                    padding: 15px 30px;

                    .feature-desciption-more {
                        .custom-btn-description {
                            background: #fff;
                            color: #3498db;
                        }

                        #detail-properties-product {
                            .modal-body {
                                table.table {
                                    height: 100%;
                                    overflow: scroll;
                                    max-height: 400px;
                                    display: block;
                                }

                                .title-modal {
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .accessories-product {
            border: 1px solid #eee;
            margin-bottom: 20px;

            .title-accessories {
                border-bottom: 1px solid #eee;
                padding: 5px;
            }

            .slider-product {
                padding: 10px;
                text-align: center;

                .item-arrow {
                    height: 270px;
                    line-height: 270px;
                    text-align: center;
                    position: absolute;

                    &.left {
                        left: 100px;
                    }

                    &.right {
                        right: 100px;
                    }
                }

                .item {
                    margin-bottom: 10px;

                    p {
                        margin: 15px 0px 10px;
                    }

                    .name-product-ralative {
                        color: #262626;
                        height: 40px;
                        max-height: 40px;
                        overflow: hidden;
                    }

                    .price-product-ralative {
                        color: #c0392b;
                        font-size: 18px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        max-height: 170px;
                    }
                }

                .carousel-container {
                    margin-left: 30px;
                    margin-right: 30px;
                    padding-bottom: 20px;
                    width: 95%;
                }
            }
        }

        .breadcrumb {
            background: none;
            padding-left: 0px;
            margin-bottom: 0px;
        }

        .image-product {
            .image-second {
                #thumbnail-slider {
                    .arrow-container {
                        .fa {
                            border: 3px solid #9dacad;
                            padding: 5px 12px;
                            border-radius: 103px;
                            color: #9dacad;
                        }
                    }

                    .carousel-inner {
                        margin: 0 auto;
                        width: 90%;
                    }
                }

                .carousel {
                    margin-bottom: 0;
                }

                .carousel-control {
                    background-image: none;
                    background-color: rgba(0, 0, 0, 0);
                    filter: alpha(opacity=50);
                    width: 0px;

                    &.left {
                        left: -20px;
                        top: 50%;
                        margin-top: -18px;
                    }

                    &.right {
                        right: 18px;
                        top: 50%;
                        margin-top: -18px;
                    }
                }

                .carousel-indicators {
                    right: 50%;
                    top: auto;
                    bottom: 0px;
                    margin-right: -19px;

                    li {
                        background: #c0c0c0;
                    }

                    .active {
                        background: #333333;
                    }
                }

                .carousel-inner {
                    .item {
                        .sub-item {
                            padding: 5px;
                        }

                        .thumbnail {
                            margin-bottom: 0px;

                            img {
                                max-height: 80px;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .description-detail {
            .alignnone {
                margin: 5px 20px 20px 0;
            }

            .aligncenter,
            div.aligncenter {
                display: block;
                margin: 5px auto 5px auto;
            }

            .alignright {
                float: right;
                margin: 5px 0 20px 20px;
            }

            .alignleft {
                float: left;
                margin: 5px 20px 20px 0;
            }

            a img.alignright {
                float: right;
                margin: 5px 0 20px 20px;
                max-width: 100%;
            }

            a img.alignnone {
                margin: 5px 20px 20px 0;
                max-width: 100%;
            }

            a img.alignleft {
                float: left;
                margin: 5px 20px 20px 0;
                max-width: 100%;
            }

            a img.aligncenter {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 100%;
            }

            .description-content {
                img {
                    margin: 0 auto;
                }

                .video {
                    text-align: center;
                }

                .twentytwenty-wrapper {
                    text-align: center;
                }
            }
        }
    }

    .co-the-ban-quan-tam {
        .fix-row {
            height: 55px;
            background: #ecf0f1;

            .fix-col-2 {
                a {
                    line-height: 55px;
                    margin-right: 50px;
                }
            }
        }
    }
}

.clone_modal_product_detail {
    margin: 10px;
    z-index: 4;
    position: relative;
}