#footerSection {
	.footer-wrapper {
		margin-top: 25px;
		.footet-col {
			ul {
				padding: 0;
				li {
					list-style: none;
				}
			}
			.connect-us{
				text-align: center;
				margin-bottom: 20px;
			}
			.tieude-footer {
			}
			.noidungfooter {
				text-align: justify;
			}
			.widget  {
				.menu {
					.menu-item {
						a {
							color: #fff;
						}
					}
				}
				.connect-us {
					.social-icons {
						a {
							color: #fff;
						}
					}
				}
			}
		}
	}
}


