.menuu {

	height: 100px;
	.navbar {
		.navbar-header {
			.navbar-toggle {
				background-color: #fff;
			}
		}
		ul.nav {
			.menu-item {
				/*max-width: 76px !important;
				width: 63px;*/
				span {
					font-size: 12px;
				}
			}
		}
		.search_phone {
			.hotline  {
				a {
					color: #fff;
				}
			}
		}
	}
}
