#muangayPage {
    .red {
        color: #e74c3c;
    }
    .green {
        color: #2980b9;
    }
    .breadcrumb {
        background: none;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .title-common {
        border-bottom: 1px solid #eee;
        padding: 5px 5px 5px 10px;
        color: #e67e22;
        text-transform: uppercase;
        font-size: 20px;
    }
    .section-common {
        margin-bottom: 20px;
    }
    .padding-section {
        /*padding-left: 20px;*/
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        padding-bottom: 20px;
        .image-item{
            padding: 0px;
        }
    }
    .product-tragop {
        margin-bottom: 20px;
        .name-product h4 {
            font-size: 22px;
            font-weight: 600px;
        }
        .image-product {
            width: 100%;
            border: 1px solid #eee;
            border-radius: 5px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .guarantee-container .fa-info-circle:before {
            color: #f39c12;
            font-size: 18px;
        }
        .price-main {
            color: #c0392b;
            font-size: 29px;
        }
    }
    .muangay-info {
        .price-main {
            color: #c0392b;
            font-size: 29px;
        }
        .payment-text {
            line-height: 40px;
        }
        .nav-tabs {
            border: unset;
        }
        .custom-nav-bar {
            line-height: 30px;
            margin-bottom: 10px;
            .tab-common {
                font-size: 18px;
                padding-left: 0px;
                a {
                    text-decoration: none;
                    color: #000;
                    i {
                        color: #3498db;
                    }
                }
            }
        }
        .tab-content {
            border: 1px solid #eee;
            border-radius: 5px;
            padding: 25px;
        }
    }
    .muangay-form-info {
        margin-bottom: 20px;
        input.form-control {
            margin-bottom: 10px;
        }
        select {
            float: right;
            width: 70%;
            height: 30px;
            line-height: 40px;
        }
        .btn-container {
            line-height: 60px;
            .btn-custom-1,
            .btn-custom-2 {
                border-radius: unset;
                font-size: 20px;
            }
        }
        .title-form-payment-info {
            font-size: 21px;
        }
        .select-container {
        }
        .btn-container {
            margin-top: 20px;
            .btn-custom-1,
            .btn-custom-2 {
                width: 100%;
                line-height: 20px;
                font-size: 20px;
            }
            .btn-custom {
                color: #fff;
            }
            .btn-custom-1 {
                background-color: #e67e22;
                border: 1px solid #e67e22;
            }
            .btn-custom-2 {
                background-color: #2ecc71;
                border: 1px solid #2ecc71;
            }
        }
    }
}
#muangayPage {
    .muangay-info  {
        #muangay-tab-content {
            .tab-pane {
                img {
                    max-width: 100%;
                }
            }
        }
    }
}
