#tragopPage {
    .red {
        color: #e74c3c;
    }
    .green {
        color: #2980b9;
    }
    .breadcrumb {
        background: none;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    .title-common {
        border-bottom: 1px solid #eee;
        padding: 5px 5px 5px 10px;
        color: #e67e22;
        text-transform: uppercase;
        font-size: 20px;
    }
    .section-common {}
    .padding-section {
        padding-left: 20px;
    }
    .product-tragop {
        margin-bottom: 20px;
        .image-product {
            width: 80%;
            border: 1px solid #eee;
            border-radius: 5px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .guarantee-container .fa-info-circle:before {
            color: #f39c12;
            font-size: 18px;
        }
        .price-main {
            color: #c0392b;
            font-size: 29px;
        }
        .extent-price {
            color: #c0392b;
            font-size: 29px;
        }
        .padding-section {
            .name-product-container {
                padding-left: 0px;
                .name-product {
                    h4 {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .payment-tragop {
        .price-main {
            color: #c0392b;
            font-size: 29px;
        }
        .extent-price {
            color: #c0392b;
            font-size: 29px;
        }
        .price-second {
            color: #c0392b;
            font-size: 16px;
        }
        .payment-package-container,
        .payment-time-container {
            line-height: 30px;
            margin-bottom: 10px;
        }
        .payment-package-container select,
        .payment-time-container select {
            float: right;
            width: 60%;
            height: 30px;
        }
        .note-payment-container {
            margin-top: 30px;
            margin-bottom: 30px;
            .note-payment {
                border: 1px solid #bdc3c7;
                border-radius: 5px;
                box-shadow: 0px 2px 6px #888888;
                padding: 20px;
                font-size: 16px;
            }
        }
        .payment-text {
            line-height: 40px;
        }
    }
    .payment-info {
        margin-bottom: 20px;
        input.form-control {
            margin-bottom: 10px;
        }
        select {
            float: right;
            width: 70%;
            height: 30px;
            line-height: 40px;
        }
        .btn-container {
            line-height: 100px;
            .btn-custom {
                border-radius: unset;
                line-height: 43px;
                font-size: 20px;
                i {
                    margin-right: 10px;
                }
            }
        }
        .title-form-payment-info {
            font-size: 21px;
        }
        .select-container {
            margin-bottom: 20px;
        }
    }
    .condition-tragop {
        .title-condition-tragop {
            border: 1px solid #eee;
            background-color: #3498db;
            .title-condition {
                color: #fff;
                font-size: 22px;
            }
        }
        .custom-table tr td {
            padding-left: 40px;
        }
    }
}
