body .slick-slide img {
    display: block;
    margin: 5px auto;
}

body .slick-next {
    position: absolute;
    top: 50% !important;
    right: 0px !important;
    z-index: 10000;
}

body .slick-prev {
    position: absolute;
    top: 50% !important;
    left: 0px !important;
    z-index: 10000;
}

.slider-nav {
    position: relative !important;
}

img{
    
}

div.onerow.slick-current.slick-active section.slider-nav div.slick-track div.slick-slide.slick-current.slick-active.slick-center img{
    border: 4px solid black;
}


.tieudenho{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
}

.chitiet-thongtinchung{
    text-align: justify;
    line-height: 1.6;
}


.gia{
    font-size: 25px;
    font-weight: bold;
}

























