body{
  
  
  
  .slick-slide img{
    display: block;
    margin: 5px auto;
  }
  
  
  .slick-next{
    
    position: absolute;
    top: 50%!important;
    right: 0px!important;
    z-index: 10000;
  }
  
  .slick-prev{
    position: absolute;
    top: 50%!important;
    left: 0px!important;
    z-index: 10000;
  }
}


.slider-nav{
  position: relative!important;
}





img{
    border: 4px solid red!important;
}

