@media screen and (max-width: 768px) {
    .container_cat {
        .list_product {
            .item_product {
                .tragop {
                    text-align: center;
                    max-height: 50px;
                    overflow: hidden;
                    height: 50px;
                }
                .info_hover {
                    text-align: left;
                }
            }
        }
    }
}
