@media screen and (max-width: 768px) {
    #detailPage {
        .detail-product {
            .review {
                .slider-product {
                    .carousel-container {}
                    .item-arrow {
                        &.left {
                            left: 13px;
                        }
                        &.right {
                            right: 13px;
                        }
                    }
                }
            }
            .feature-detail {
                .feature-important {
                    .feature-item {
                        #carousel-feature-detail {
                            .carousel-inner {
                                .item {
                                    img {
                                    }
                                }
                            }
                        }
                        .item-arrow {
                        }
                    }
                }
                .feature-description {
                    .feature-item {
                        padding: 15px 30px;
                        .feature-desciption-more {
                            .custom-btn-description {
                            }
                            #detail-properties-product {
                                .modal-body {
                                	.title-modal{
                                		font-size: 22px !important;
									    display: block;
									    margin-top: 20px;
									    text-transform: uppercase;
									    font-weight: 600; 
                                	}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
