@media (max-width: 767px) {
    .thanhlienhe {
        width: 95.5%;
        font-size: 90%;
        opacity: 0.8;

        .hotlinespan {
            margin-right: 5px;
        }
    }

    /*.contact-info {
        display: block;
    }*/
    #footerSection .bottom-col-2 {
        display: block;
    }
}

.thanhlienhe {
    &.cs1 {
        left: 10px;
    }

    &.cs2 {
        right: 10px;
    }
}

@media (max-width: 920px) {
    .thanhlienhe {
        &.cs1 {
            left: 14px;
            bottom: 42px;
        }

        &.cs2 {
            left: 14px;
            right: auto;
        }
    }
}

@media (max-width: 400px) {
    .thanhlienhe {
        width: 91%;
        &.cs1 {
            left: 14px;
            bottom: 62px;
        }

        &.cs2 {
            left: 14px;
            right: auto;
        }
    }
}